﻿.dataTables_wrapper input[type="search"], .dataTables_wrapper input[type="text"], .dataTables_wrapper select {
    border: 1px solid #e2e2e2;
    padding: .3rem 0.5rem;
    color: #715d5d;
    border-radius: 5px;
}

.main .page-header h1 {
    color: #593bdb;
}

.card-title h4 {
    font-weight: 500;
    font-size: 20px;
    /*color: #593bdb;*/
}
/*
.page-titles {
    padding: 0.9375rem 1.25rem;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 5px;
}

    .page-titles h4 {
        margin-bottom: 0;
        margin-top: 0;
        color: #593bdb;
        font-size: 1.25rem;
    }
*/

.bootstrap-select.show .dropdown-menu {
    display: block;
}

    .bootstrap-select.show .dropdown-menu ul li {
        font-size: 1.1em;
        line-height: 1.7em;
    }

.bootstrap-select > .dropdown-toggle.bs-placeholder {
    color: #ddd;
}

.congs-not-reporting-container li {
    font-size: 1.4em;
    font-weight: bold;
}

.congs-not-reporting-container {
    margin-top: 35px;
    text-align: center;
}

.all-congs-bar-graph {
    width: 100%;
    height: 600px;
}

.flot-horizontal-bar-container {
    box-sizing: border-box;
    width: 100%;
    /* height: 275px; */
    padding: 20px 15px 15px;
    margin: 15px auto 30px;
    background: transparent;
}

.flotTip {
    background: #252525 !important;
    border: 1px solid #252525;
    padding: 5px 15px;
    color: #ffffff;
}

.bootstrap-data-table-panel .dataTables_filter {
    padding-right: 10px;
}

tr.dtrg-group {
    font-size: 1.5em;
    text-align: left;
    display: block;    
}

    tr.dtrg-group td {
        color: #03a9f4;
    }

div.dt-buttons {
    padding-top: 20px;
}

.row.survey-question
{
    font-size: 1.25em;
    margin-bottom: 5px;
}

    .row.survey-question .question-text {
        text-align: right;
    }


.question-score {
    background-color: lightyellow;
    border: 1px solid black;
}

.question-answers select 
{
    width: 100%;
}

.row.survey-question-total {
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid black;
    padding-top: 10px;
}

.row.survey-question-header {
    font-weight: bold;
}
    .row.survey-question-header .question-text {
        text-align: right;
    }

    .row.survey-question.total-score .question-score {
        /*background-color: #a2baa0;*/
    }

.icon-container [class^="ti-"], .icon-container [class*=" ti-"] {
    position: relative;
}

.ti-trash {
    color: #cc181f !important;
    font-size: 1.2em;
}

.ti-pencil {
    color: black !important;
    font-size: 1.2em;
}

.hoverable:hover {
    background: #ddd;
}