﻿@model CreditCars.Application.Common.Models.SurveyQuestionDto

@{
    ViewData["Title"] = "Edit Question";
    var newQuestion = Model == null;
    var title = newQuestion ? "New Question" : "Edit Question";
}

<h1>@title</h1>

<form id="edit-question" method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />

    <h4>Question</h4>
    <hr />
    <div class="form-row">
        <div class="form-group col-md-2">
            <label asp-for="DisplayOrder" class="control-label">Display Order</label>
            <input asp-for="DisplayOrder" class="form-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="CategoryCode" class="control-label">Category Code</label>
            <input asp-for="CategoryCode" class="form-control" />
            <span asp-validation-for="CategoryCode" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="Weight" class="control-label"></label>
            <input asp-for="Weight" class="form-control" />
            <span asp-validation-for="Weight" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6 col-lg-3">
            <label asp-for="QuestionText" class="control-label">Question Text</label>
            <input asp-for="QuestionText" class="form-control" />
            <span asp-validation-for="QuestionText" class="text-danger"></span>
        </div>
    </div>

    <h4>Answers</h4>
    <hr />
    <div class="form-row">
        <div class="col-md-6 col-lg-3">
            <button class="btn btn-secondary add-answer">Add Answer</button>
            <input type="submit" value="Save" class="btn btn-primary save-question" />
        </div>
    </div>
    <div class="answer-details">
        @*This is populated in the jquery load*@
    </div>
    <div class="form-row">
        <div class="col-md-6 col-lg-3">
            <button class="btn btn-secondary add-answer">Add Answer</button>
            <input type="submit" value="Save" class="btn btn-primary save-question" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>


@section Scripts
{
    <script type="text/template" id="answer-html">
        <div class="answer hoverable">
            <div class="form-row {{answer-row-background}}">
                <input type="hidden" id="answer-id" name="answer-id" value="{{answer-id}}" />
                <div class="col-1">
                    <div class="icon-container delete-answer" data-answer-id="{{answer-id}}"><i class="ti-trash"></i></div>                    
                </div>
                <div class="col-sm-2">
                    <div class="form-group">
                        <label class="control-label">Display Order</label>
                        <input name="display-order" class="form-control answer-display-order" type="number" data-answer-id="{{answer-id}}" value="{{answer-display-order}}" />
                    </div>
                </div>
                <div class="col-sm-3 col-md-2">
                    <div class="form-group">
                        <label class="control-label">Answer Value</label>
                        <input name="answer-value" class="form-control answer-value" type="number" data-answer-id="{{answer-id}}" value="{{answer-value}}" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Answer Text</label>
                        <input name="answer-text" class="form-control answer-text" data-answer-id="{{answer-id}}" value="{{answer-text}}" />
                    </div>
                </div>
            </div>
        </div>
    </script>

    <script type="text/javascript">
        let answerRowBg = '';

        $(function ()
        {
            showBusyWait($('.answer-details'));
            @if (Model?.Answers?.Count > 0)
            {
                @foreach (var answer in Model.Answers.OrderBy(_ => _.DisplayOrder))
                {
                    @: addAnswer(@answer.Id, @answer.DisplayOrder, '@answer.AnswerValue', '@answer.AnswerText');                
                }
            }
            killBusyWait($('.answer-details'));
        });

        $('.add-answer').on('click', function (evt) {
            evt.preventDefault();
            addAnswer(0, 0, '', '');
        });

        $('body').on('click', '.delete-answer', function (evt) {
            evt.preventDefault();

            let answerId = $(this).attr('data-answer-id');
            let questionId = $('#Id').val();
            let data = { answerId: answerId, questionId: questionId };

            let parentContainer = $(this).parents('.answer');
            if (answerId == 0) {
                //this is a new answer that hasn't been saved, just remove it from the list
                $(parentContainer).remove();
            }
            else
            {
                confirmationAlertWithCallbacks('Permanently delete this answer?',
                    'Are you sure you want to permanently delete this answer? This action cannot be undone',
                    'Delete this',
                    '/admin/delete-answer',
                    data,
                    function (response) {
                        if (response.success)
                        {
                            showSuccessMessage('Success!');
                            $(parentContainer).remove();
                        }
                        else
                        {
                            showErrorMessage('Unable to delete answer: ' + response.errorMessage);
                        }
                    },
                    function () { showErrorMessage('Unable to delete answer.'); }); 
            }
        });

        function addAnswer(id, displayOrder, value, text) {
            answerRowBg = answerRowBg == '' ? 'stripe' : '';

            let answerTemplate = $('#answer-html').html();
            answerTemplate = answerTemplate.replace(/\{\{answer-row-background\}\}/g, answerRowBg);
            answerTemplate = answerTemplate.replace(/\{\{answer-id\}\}/g, id);
            answerTemplate = answerTemplate.replace(/\{\{answer-display-order\}\}/g, displayOrder);
            answerTemplate = answerTemplate.replace(/\{\{answer-value\}\}/g, value);
            answerTemplate = answerTemplate.replace(/\{\{answer-text\}\}/g, text);

            $('.answer-details').append(answerTemplate);
        }

        $('form#edit-question').on('submit', function (evt) {
            evt.preventDefault();

            //get the data for the question
            let id = $('#Id').val();
            let dispOrder = $('#DisplayOrder').val();
            let catCode = $('#CategoryCode').val();
            let weight = $('#Weight').val();
            let text = $('#QuestionText').val();

            let questionData = {
                Id: id,
                DisplayOrder: dispOrder,
                CategoryCode: catCode,
                Weight: weight,
                QuestionText: text,
                Answers: null
            };

            // get the data for the answers
            let answerElms = $('.answer-details .answer');
            if (answerElms.length == 0) {
                showErrorMessage('You need at least one answer to save this question.');
                return;
            }
            else {
                let questionAnswers = [];

                //not saving all the answers, just the first!!
                $(answerElms).each(function () {
                    let ansId = $(this).find('[name="answer-id"]').first().val();
                    let dispOrder = $(this).find('[name="display-order"]').first().val();
                    let ansValue = $(this).find('[name="answer-value"]').first().val();
                    let ansText = $(this).find('[name="answer-text"]').first().val();

                    //alert('id:' + ansId + ',do:' + dispOrder + ',val:' + ansValue + ',text:' + ansText);
                    questionAnswers.push(
                        {
                            Id: ansId,
                            QuestionId: id,
                            AnswerText: ansText,
                            AnswerValue: ansValue,
                            DisplayOrder: dispOrder
                        });

                    questionData.Answers = questionAnswers;
                });
            }

            // submit it
            handlePostWithCallbacks("/admin/edit-question", questionData, function () { toastAndRedirect("Saved successfully!", location.href); }, function () { showErrorMessage(); });

            return false;
        });
    </script>
} 