﻿
@{
    ViewData["Title"] = "Index";
}

<h1>Import File</h1>
<h2>Import a csv file. </h2>
<p class="warning">This will clear all existing data.</p>

<form method="post" action="@Url.Action("ImportCsv")" enctype="multipart/form-data" class="fileImportForm">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2">
                <label for="csvFile">CSV File</label>
            </div>
            <div class="col">
                <input id="csvFile" type="file" name="csvFile" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <input class="btn btn-primary" type="submit" value="Upload" />
            </div>
        </div>
        <div class="row">
            <output name="result"></output>
        </div>
    </div>
</form>
