﻿@model ViewSurveyQuestionsViewModel
@{
    ViewData["Title"] = "Edit Questions";
    var altBg = true;
}

<div class="row">
    <div class="col-md-10">
        <div class="row survey-question-header">
            <div class="col-1"></div>
            <div class="col-3 question-text">Question</div>
            <div class="col-1">Category</div>
            <div class="col-1">Weight</div>
            <div class="col-6">Answers</div>
        </div>

        @foreach (var question in Model.Questions)
        {
            var @bg = altBg ? "stripe" : "";
            altBg = !altBg;

            var orderedAnswers = question.Answers.OrderBy(_ => _.DisplayOrder);

            <div class="row hoverable survey-question @bg">
                <div class="col-1"><div class="icon-container"><a class="" asp-controller="Admin" asp-action="EditQuestion" asp-route-id="@question.Id"><i class="ti-pencil"></i></a></div></div>
                <div class="col-3 question-text">@question.QuestionText</div>
                <div class="col-1 question-category"><small>@question.CategoryCode</small></div>
                <div class="col-1 question-weight"><small>@question.Weight</small></div>
                <div class="col-6">
                    @foreach (var answer in orderedAnswers)
                    {
                        <div class="col-12">
                            @answer.DisplayOrder) @answer.AnswerText = @answer.AnswerValue
                        </div>
                    }
                </div>
            </div>
        }
        <div class="row">
            <div class="col-6">
                <a asp-controller="Admin" asp-action="EditQuestion" asp-route-id="0" class="btn btn-primary add-question">Add Question</a>
            </div>
        </div>

    </div>
</div>
