﻿@model CustomerScoreSurveyViewModel
@{
    ViewData["Title"] = "Customer Score Survey";
}

<h1>Customer Scorecard Questionnaire</h1>

<div class="row p-t-20">
    <div class="col-12">
        <div class="row survey-question-header">
            <div class="col-sm-5 col-md-3 question-text">Question</div>
            <div class="col-sm-2 col-lg-1">Category</div>
            <div class="col-sm-5 col-md-7">Answer</div>
        </div>

        @foreach (var question in Model.Questions)
        {
            var orderedAnswers = question.Answers.OrderBy(_ => _.DisplayOrder);

        <div class="row survey-question">

            <div class="col-sm-5 col-md-3 question-text">@question.QuestionText</div>
            <div class="col-sm-2 col-lg-1 question-category"><small>@question.CategoryCode</small></div>
            <div class="col-sm-5 col-md-7 question-answers">
                <select id="answers-for-@question.Id" data-weight="@question.Weight" data-question-id="@question.Id" class="form-control question-answer-option">
                    <option value=""></option>
                    @foreach (var answer in orderedAnswers)
                        {
                            //answerValue is the numeric value for the answer used in the
                            //  score calculation. We want to store answerText for the customer though
                    <option value="@answer.AnswerValue">@answer.AnswerText</option>
                        }
                </select>
            </div>

        </div>
        }

        <div class="row">
            <div class="col-sm-12 col-lg-11 text-right">
                <button class="btn btn-primary get-score">Calculate Score</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript">
        //$(function () {
        //    $('body').on('change', '.question-answer-option', function (event) {
        //        var questionId = $(this).attr('data-question-id');
        //        var questionWeight = $(this).attr('data-weight');
        //        var thisVal = $(this).val();
        //        $('#score-for-' + questionId).text(questionWeight * thisVal);
        //        updateTotal();
        //    });
        //});

        //function updateTotal() {
        //    var total = 0;
        //    $('.row.survey-question .question-score').each(function ()
        //    { 
        //        var thisVal = parseInt($(this).text());
        //        if (!Object.is(NaN, thisVal)) {
        //            total += thisVal;
        //        }

        //        $('.row.survey-question-total .question-score').text(total);
        //    });
        //}
    </script>
} 