﻿
@{
    ViewData["Title"] = "Dashboard";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the dashboard.</p>
    <p>Summary data, alerts, charts will go here</p>
</div>
