﻿@{
    ViewData["Title"] = "Home";
}





@section Scripts {
    <script type="text/javascript">
        $(function () {

        });

        function labelFormatter(label, series) {
            return "<div style='font-size:8pt; text-align:center; padding:2px; color:white;'>" + label + "<br/>" + Math.round(series.percent) + "%</div>";
        }
    </script>
}
