﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@ViewData["Title"] - CreditCars.com</title>

    <!-- ================= Favicon ================== -->
    <!-- Standard -->
    <link rel="shortcut icon" href="https://placehold.it/64.png/000/fff">
    <!-- Retina iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="144x144" href="https://placehold.it/144.png/000/fff">
    <!-- Retina iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="114x114" href="https://placehold.it/114.png/000/fff">
    <!-- Standard iPad Touch Icon-->
    <link rel="apple-touch-icon" sizes="72x72" href="https://placehold.it/72.png/000/fff">
    <!-- Standard iPhone Touch Icon-->
    <link rel="apple-touch-icon" sizes="57x57" href="https://placehold.it/57.png/000/fff">

    <!-- Styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link href="~/assets/css/lib/owl.carousel.min.css" rel="stylesheet" asp-append-version="true"/>
    <link href="~/assets/css/lib/owl.theme.default.min.css" rel="stylesheet"  asp-append-version="true"/>
    <link href="~/assets/css/lib/font-awesome.min.css" rel="stylesheet"  asp-append-version="true" />
    <link href="~/assets/css/lib/themify-icons.css" rel="stylesheet"  asp-append-version="true"/>
    <!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/datatables.min.css" />-->
    <!--updated versions of datatables css, with buttons
            <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-html5-1.6.2/cr-1.5.2/r-2.2.5/sp-1.1.1/datatables.min.css"/>
    -->
    <link href="~/assets/css/lib/data-table/jquery.dataTables.min.css" rel="stylesheet"  asp-append-version="true"/>
    <link href="~/assets/css/lib/data-table/buttons.bootstrap.min.css" rel="stylesheet"  asp-append-version="true"/>
    <link href="~/assets/css/lib/menubar/sidebar.css" rel="stylesheet"  asp-append-version="true" />
    <!--<link href="~/assets/css/lib/bootstrap.min.css" rel="stylesheet">-->
    <link href="~/assets/css/lib/toastr/toastr.min.css" rel="stylesheet"  asp-append-version="true" />
    <!--<link href="~/assets/css/lib/sweetalert/sweetalert.css" rel="stylesheet"  asp-append-version="true"/>-->
    <link href="~/assets/css/lib/helper.css" rel="stylesheet"  asp-append-version="true"/>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

    <link href="~/assets/css/style.css" rel="stylesheet"  asp-append-version="true"/>
    <link href="~/assets/css/overrides.css" rel="stylesheet"  asp-append-version="true"/>
</head>

<body>

    <div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
        <div class="nano">
            <div class="nano-content">
                <div class="logo"><a href="index.html"><!-- <img src="~/assets/images/logo.png" alt="" /> --><span></span></a></div>
                <ul>
                    <li class="label">Main</li>
                    <li><a href="/"><i class="ti-home"></i>Home</a></li>
                    <li><a asp-controller="Home" asp-action="CustomerScoreSurvey"><i class="ti-clipboard"></i>Scorecard</a></li>
                    <li class="label">Admin</li>
                    <li><a asp-controller="Admin" asp-action="ViewQuestions"><i class="ti-pencil-alt"></i>Edit Questions</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /# sidebar -->


    <div class="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-left">
                        <div class="hamburger sidebar-toggle">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>
                    <div class="float-right">
                        <ul>
                            <li class="header-icon dib">
                                <partial name="_LoginPartial" />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="content-wrap">
        <div class="main">
            <div class="container-fluid">
                <div id="busy-wait-bracket"></div>
                <!--
                <div class="row">
                    <div class="col-lg-8 p-r-0 title-margin-right">
                        <div class="page-header">
                            <div class="page-title">
                                <h1>@ViewData["PageHeader"]</h1>
                            </div>
                        </div>
                    </div>
                </div>
                -->
                <!-- /# row -->
                <section id="main-content">
                    @RenderBody()
                    <!--
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="footer">
                                <p>2020 © Admin Board</p>
                            </div>
                        </div>
                    </div>
                     -->
                </section>
            </div>
        </div>
    </div>
    <div id="search">
        <button type="button" class="close">×</button>
        <form>
            <input type="search" value="" placeholder="type keyword(s) here" />
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>
    <!-- jquery vendor -->
    <!--<script src="~/assets/js/lib/jquery.min.js"></script>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="~/assets/js/lib/jquery.nanoscroller.min.js"></script>

    <!-- bootstrap -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js" integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm" crossorigin="anonymous"></script>

    <!-- notifications -->
    <script src="~/assets/js/lib/toastr/toastr.min.js"></script>

    <!-- nano scroller -->
    <script src="~/assets/js/lib/menubar/sidebar.js"></script>
    <script src="~/assets/js/lib/preloader/pace.min.js"></script>
    <!-- sidebar -->
    <!--<script src="~/assets/js/lib/bootstrap.min.js"></script>-->

    <script src="~/assets/js/lib/circle-progress/circle-progress.min.js"></script>
    <script src="~/assets/js/lib/circle-progress/circle-progress-init.js"></script>

    <script src="~/assets/js/lib/toastr/toastr.init.js"></script>

    <!--data table stuff-->
    <!--<script src="~/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>-->
    <!--<script src="~/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>-->
    <script src="~/assets/js/lib/data-table/jszip.min.js"></script>
    <!--<script src="~/assets/js/lib/data-table/pdfmake.min.js"></script>-->
    <!--<script src="~/assets/js/lib/data-table/vfs_fonts.js"></script>-->
    <!--
    <script src="~/assets/js/lib/data-table/buttons.html5.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.print.min.js"></script>
    <script src="~/assets/js/lib/data-table/buttons.colVis.min.js"></script>
    <script src="~/assets/js/lib/data-table/datatables.min.js"></script>
    <script src="~/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
    <script src="~/assets/js/lib/data-table/jquery.dataTables.min.js"></script>
    -->

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <!--<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/datatables.min.js"></script>-->
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.21/b-1.6.2/b-colvis-1.6.2/b-html5-1.6.2/b-print-1.6.2/cr-1.5.2/r-2.2.5/rg-1.1.2/datatables.min.js"></script>
    <!--<script src="~/assets/js/lib/data-table/datatables-init.js"></script>-->
    <!--bootstrap select-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- sweet alert -->
    @*<script type="text/javascript" src="~/assets/js/lib/sweetalert/sweetalert.min.js"></script>*@
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!--flot charts-->
    <script src="~/assets/js/lib/flot-chart/excanvas.min.js"></script>
    <script src="~/assets/js/lib/flot-chart/jquery.flot.js"></script>
    <script src="~/assets/js/lib/flot-chart/jquery.flot.pie.js"></script>
    <script src="~/assets/js/lib/flot-chart/jquery.flot.time.js"></script>
    <script src="~/assets/js/lib/flot-chart/jquery.flot.stack.js"></script>
    <script src="~/assets/js/lib/flot-chart/jquery.flot.resize.js"></script>
    <script src="~/assets/js/lib/flot-chart/jquery.flot.crosshair.js"></script>
    <script src="~/assets/js/lib/flot-chart/curvedLines.js"></script>
    <script src="~/assets/js/lib/flot-chart/flot-tooltip/jquery.flot.tooltip.min.js"></script>


    <!--
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.3/jquery.flot.pie.min.js"></script>
        -->

    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/js/pantry.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
    <!-- scripit init-->

</body>

</html>

