﻿@using Microsoft.AspNetCore.Identity
@using CreditCars.Infrastructure.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <span class="user-avatar">@User.Identity.Name <i class="ti-angle-down f-s-10"></i></span>
    <div class="drop-down dropdown-profile">
        <div class="dropdown-content-body">
            <ul>
                <li><a asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile"><i class="ti-user"></i> <span>Profile</span></a></li>

                <li><a href="#"><i class="ti-email"></i> <span>Inbox</span></a></li>
                <li><a href="#"><i class="ti-settings"></i> <span>Setting</span></a></li>

                <li><a href="#"><i class="ti-lock"></i> <span>Lock Screen</span></a></li>
                <!--<li><a href="#"> <span>Logout</span></a></li>-->
                <li>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <i class="ti-power-off"></i><button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>



    <!--
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
    </li>

    <li class="nav-item">
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
    -->
}
else
{
    <span class="user-avatar">Hello! <i class="ti-angle-down f-s-10"></i></span>
    <div class="drop-down dropdown-profile">
        <div class="dropdown-content-body">
            <ul>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            </ul>
        </div>
    </div>

}
